{% load static %}
<!-- Navbar -->
<footer class="navbar navbar-expand-lg navbar-dark bg-dark">    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Flux <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Post</a>
            <a class="nav-item nav-link" href="#">Abonnements</a>
            <a class="nav-item nav-link" href="#">Critiques</a>
        </div>
    </div>
    <div class="card bg-dark text-white">
        <p class="card-text">copyright 2021</p>
    </div>
</footer>
<!-- footer -->