{% extends 'main.html' %}
{% block title %} Créer un ticket {% endblock title %}
{% block contenu %}
    
<br>
<h2> Demander une critique | Créer un ticket</h2>
<div class="container">
    <div class="row">
        <div style="border: 2px solid black;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <div>
                        <h5>Titre</h5>
                        {{ form_ticket.title }}
                        <h5>Description</h5>
                        {{ form_ticket.description }}
                        <br>
                        {{ form_ticket.image.url }}
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}