{% extends 'main.html' %}
{% block title %}Posts{% endblock title %}
{% block contenu %}
    
<br>


<div class="container">
    <div class="row">
        <div  class="mb-3 form-check">
            <h2>Liste des Posts</h2>    
        </div><br><br>
        
    </div>
    {%  for post in posts %}
        {% if post.user == request.user %}
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <div class="card-title mb-2 text-muted">Critique</div><hr>
                    <div class="card-title mb-2">
                        <span>Vous avez publié une critique </span>
                        <span class="float-end"> {{ post.time_created }} </span>
                    </div> <br>
                    <p class="card-text">Une excellente lexture et je vous recommande vivement !</p>
                </div>
                <div class="card" style="width: 40 rem;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Ticket - {{ post.ticket }}</h6>
                        <p class="card-text">Titre du livre/article.</p>
                        <img src="..." class="rounded float-start" alt="Image"><br><br>
                        <a class="btn btn-primary btn-sm btn-block " href="{% url 'created_post' pk=post.id %}">Modifier</a>
                        <a class="btn btn-danger btn-sm btn-block " href="{% url 'deleted_post' pk=post.id %}">Supprimer</a>
                    </div>
                </div>
            </div>
            <br>
        {% endif %}
    {% endfor %}
    
    {%  for ticket in tickets%}
        {% if ticket.user == request.user %}
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <div class="card-title mb-2 text-muted">Ticket</div><hr>
                    <div class="card-title mb-2">
                        <span>{{ ticket.user }} a demandé un ticket    </span>
                        <span class="float-end">{{ ticket.Time_created }} </span>
                    </div> <br><br>
                    <div class="card-title mb-2 text-muted">{{ ticket.title }}</div>
                    <br><br>
                    <p class="card-text">{{ ticket.description }}</p> <br>
                    <a class="btn btn-primary" href="{% url 'updated_ticket' ticket.id %}">Modifier</a>
                    <a class="btn btn-danger" href="{% url 'deleted_ticket' ticket.id %}">Supprimer</a>
                </div>
            </div>
            <br>
        {% endif %}
    {% endfor %}
    <br>
</div>

{% endblock %}