{% extends 'main.html' %}
{% block title %}Abonnements{% endblock title %}
{% block contenu %}
    
<br>
<h4>Suivre d'autres utilisateurs</h4><br>

{% for follower in followers %}
    
    <div class="card" style="width: 60rem; height: 70px;">
        {{follower}}
        <hr>
        <form class="row g-3" action="{% url 'follow_user' follow.id %}" method="POST">
            {% csrf_token %}
            <div class="col-auto">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
                <label for="inputPassword2" class="visually-hidden"></label>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">Envoyer</button>
            </div>
        </form>
    </div>
{% endfor %} 

<br>

<h4>Abonnements</h4><br><br>
<!-- J'envisage d'afficher ici la liste des utilisateurs qui me suivent -->
{% for follower in followers %}
    {% if follower.user == request.user %}
        <div class="card" style="width: 60rem; height: 70px;">
            {{follower}}
            <hr>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Profile</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <td>{{profile}}</td>
                            <td>
                                <a href="{% url 'unfollow_user' follow.id %}">
                                    <button class="ui primary button" > Désabonner</button>
                                </a>
                            </td>
                        </th>
                    </tr>
                </tbody>
            </table> 
        </div>
    {% endif %}     
{% endfor %}

<h4>Abonnés</h4><br><br>
<!-- J'envisage d'afficher ici la liste des utilisateurs qui me suivent -->



{% endblock %}

 <!-- <a href="{% url 'profiles:profile-detail-view' profile.pk %}">
                <button class="ui primary button" > See profile</button>
            </a> -->

            <!-- <form action="{% url 'follow_detail_view' %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-primary" href="{% url 'follow_detail_view' follow.id %}">Désabonner</a>
            </form>
            <a class="btn btn-primary" href="{% url 'follow_detail_view' follow.id %}">Désabonner</a> -->


            <!-- <form action="{% url 'unfollow_user' %}" method="POST">
                {% csrf_token %}
                <input class="form-control" type="text" value="Readonly input here..." aria-label="readonly input example" readonly>
                <a class="btn btn-primary" href="{% url 'unfollow_user' follow.id %}">Désabonner</a>
            </form>
            <a class="btn btn-primary" href="{% url 'unfollow_user' follow.id %}">Désabonner</a> -->