{% extends 'main.html' %}
{% block title %} Flux {% endblock title %}
{% block contenu %}
    
<br>
<h2>Gestion des flux</h2> <br>

<div class="container">
    <div class="row">
        <div  class="mb-3 form-check">
            <a class="btn btn-primary btn-sm btn-block " href="{% url 'create_ticket' %}">Demander une critique</a>
            <a class="btn btn-primary btn-sm btn-block " href="{% url 'create_review' %}">Créer une critique</a>
        </div><br>  
    </div>
    <div class="posts-segment">
        {% for post in posts %}

                {% if post.content_type == 'REVIEW' %}
                    <div class="row m-5">
                        <div class="col-md-8 ">
                            {% if post.user == request.user %}
                                <p>Vous avez crée un ticket.</p>
                            {% else %}
                                <p>Ticket crée par {{ post.user }}</p>
                            {% endif %}

                            <p>Titre : {{ post.title }}</p>
                            <p>Commentaire  {{ post.description }}</p>
                            <p>Publié le : {{ post.time_created }}</p>
                            <p><img src="{{ post.image.url }}" style="height: 300px; height:300px"></p>
                        
                        </div>
                        
                        
                        <div  class="mb-3 form-check">
                            <a class="btn btn-primary btn-sm btn-block " href="{% url 'update_ticket' post.id %}">Modifier</a>
                            <a class="btn btn-primary btn-sm btn-block " href="{% url 'delete_ticket' post.id %}">supprimer</a>
                        </div><br>
                        
                    </div>
                    
                {% elif post.content_type == 'TICKET' %}
                <div class="row">
                    <h3>REVIEW</h3>
                    {% if post.user == request.user %}
                        <p>Vous avez écrit une review.</p>
                    {% else %}
                        <p>Review écrite par {{ post.user }}</p>
                    {% endif %}
                    <p>publié le  {{ post.time_created }}</p>
                    <p>Note : {{ post.rating }}</p><br>
                    <p>Titre : {{ post.headline }} </p>
                    <p>Commentaire <br> {{ post.body }}</p>
                   
                        <div  class="mb-3 form-check">
                            <a class="btn btn-primary btn-sm btn-block " href="{% url 'update_review' post.id %}">Modifier</a>
                            <a class="btn btn-primary btn-sm btn-block " href="{% url 'delete_review' post.id %}">supprimer</a>
                        </div><br>
                    
                </div>
                
                {% endif %}
               
            {% empty %}
                <p class="headline">Vous n'avez ni ticket et ni critique pour le moment</p>
            {% endfor %}
    </div>

</div>


{% endblock %}